doctype html
html(lang="en")
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-141317879-1")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author" content="Tomáš Kubal")
        meta(name="description" content="Tomáš Kubala - Full Stack Ruby Developer & UX/UI Designer & SharePoint Developer")
        meta(name="title" content="Tomáš Kubala - Developer & Designer")
        meta(name="og:author" content="Tomáš Kubal")
        meta(name="og:description" content="Tomáš Kubala - Full Stack Ruby Developer & UX/UI Designer & SharePoint Developer")
        meta(name="og:title" content="Tomáš Kubala - Developer & Designer")
        title Tomáš Kubala - Developer & Designer
        link(rel="stylesheet" href="/assets/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap")
        script(src="https://unpkg.com/feather-icons")
        script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
        link(rel="icon" href="/images/favicon.ico")
    body
        block content
        script(src="/assets/app.js")