doctype html
html(lang="en")
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-141317879-1")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="author" content="Tomáš Kubala")
        meta(name="description" content="Tomáš Kubala - Software engineer and consultant working with Ruby, JavaScript and Microsoft 365 Platform")
        meta(name="title" content="Tomáš Kubala - Software engineer and consultant")
        meta(name="og:author" content="Tomáš Kubala")
        meta(name="og:description" content="Tomáš Kubala - Software engineer and consultant working with Ruby, JavaScript and Microsoft 365 Platform")
        meta(name="og:title" content="Tomáš Kubala - Software engineer and consultant")
        title Tomáš Kubala
        link(rel="stylesheet" href="/assets/style.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet")
        script(src="https://unpkg.com/feather-icons")
        script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
        link(rel="icon" href="/images/favicon.ico")
    body
        block content
        script(src="/assets/app.js")