extends _layout.pug

block content
    .container
        #home-page-box
            .row
                #name
                    h1 Tomáš Kubala
                    .underline
            .row.pb-2
                #title Full Stack Ruby Developer & UX/UI Designer & SharePoint Developer
            .row.pb-1
                #contact-me
                    a#contact-me-link(href="mailto:mail@tomaskubala.sk") mail@tomaskubala.sk
                    #contact-me-underline
            .row#connect-icons
                a(href="https://github.com/kubalat")
                    i(data-feather="github")
                a(href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-kubala-423848131/")
                    i(data-feather="linkedin")
                a(href="https://twitter.com/kubala_t")
                    i(data-feather="twitter")




